
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  color: white;
  background: black;
}

.container {
  position: absolute;
  height: 800px;
  width: 800px;
  top: 50%;
  left: 50%;
  margin-top: -400px;
  margin-left: -400px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: black;
  box-shadow: 5px 5px 14px #000000;


}

.container h1{
    /* border: 1px solid red; */
    position: absolute;
    height: 50px;
    width: 400px;
    text-align: center;
    top: 25%;
    left: 50%;
    margin-left: -200px;
    margin-top: -60px;
    line-height: 50px;
}

.container h3{
  position: absolute;
  height: 25px;
  width: 300px;
  text-align: center;
  top: 25%;
  left: 50%;
  margin-left: -150px;
  margin-top: 0px;
  line-height: 25px;
}

span {
  color: red;
}

.play-area {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: auto auto auto;
}

.block {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  border: 3px solid white;
  transition: background 0.2s ease-in-out;
}

.block:hover {
  cursor: pointer;
  background: white;
}

#player1 {
position: flex;
top: 325px;
left: 600px;
  padding: 10px;
  margin-right: 40px;
  display: inline-grid;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  /* border: 3px solid white; */
}

.oneScore{
  /* border: 1px solid red; */
  text-align: center;
  font-size: 24px;
}

#player2 {
  position: flex;
  top: 325px;
  right: 600px;
    padding: 10px;
    margin-left: 40px;
    display: inline-grid;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    /* border: 3px solid white; */
}

.twoScore{
  /* border: 1px solid red; */
  text-align: center;
  font-size: 24px;
}

.names {
  padding: 10px;
  margin: 1em, 1em;
  display: flex;
  width: 150px;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  border: 3px solid black;
}

.gameOver {
  position: fixed;
  width: 500px;
  height: 500px;
  border: 2px solid white;
  border-radius: 10px;
  background: black;
  margin-top:-250px;
  margin-left: -250px;
  top: 50%;
  left: 50%;
  font-size: 32px;
  color: white;
  display: none;
}

.result{
  margin-top: 200px;
  padding-top:25px;
  height:100px;
  /* border: 1px solid red; */
  background: none;
  text-align: center;
  vertical-align: middle;
  display: none;

}

.reset:hover {
  cursor: pointer;
  background: green;
  color: white;
}

.resetDiv{
width: 250px;
left: 50%;
margin-left: -125px;
border-left: 6px solid white;
border-right: 6px solid white;
position: absolute;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
display:none;
text-align: center;
}

.resetDiv .reset{
display: inline-block;
color: white;
font-size: 18px;
padding: 20px;
margin: -6px 0;
border-top: 6px solid white;
border-bottom: 6px solid white;
display:none;
}

.resetDiv::before,
.resetDiv::after,
.resetDiv .reset::before,
.resetDiv .reset::after{
content: '';
width: 6px;
height: 6px;
display: block;
position: absolute;
background: white;
}
.resetDiv::before{ top: -3px; left: -3px; }
.resetDiv::after {top: -3px; right: -3px; }
.resetDiv .reset::before{ bottom: -3px; left: -3px; }
.resetDiv .reset::after{ bottom: -3px; right: -3px; }
